<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="NICName" value="Intel(R) Dual Band Wireless-AC 8260"/>
    <add key="IPAdress" value="172.20.101.66"/>
    <add key="Subnet" value="255.255.254.0"/>
    <add key="Gateway" value="172.20.100.1"/>
  </appSettings>
</configuration>